{% extends "master.html" %}

{% block title %}Dodaj zadanie{% endblock title %} 

{% block head %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
{% endblock head %}

{% block main %}
    <script>
        var atype
        function switch_atype(){
            for (i of document.querySelectorAll("[id^='atype_']")){
                i.style.display='none'
            }
            atype=document.getElementById('atype').value
            document.getElementById('atype_'+atype).style.display=''
        }
        function switch_cmdtype(az){
            let curcmd=az.parentElement.parentElement.parentElement.parentElement
            for (i of curcmd.querySelectorAll("[id^='command_type_']")){
                i.style.display='none'
            }
            curcmd.querySelector(`[id^='command_type_${az.value}']`).style.display=''
        }
        function switch_argtype(az){
            let curarg=az.parentElement.parentElement.parentElement
            let fields={
                'value':curarg.querySelector("[name='value']").parentElement, 
                'pos':curarg.querySelector("[name='ispos']").parentElement, 
                'name':curarg.querySelector("[name='name']").parentElement.parentElement.parentElement
            }
            const lookup={
                'text':{'value':'',"pos":'', "name":"none"},
                'option':{'value':'none',"pos":'none', "name":""},
                'param':{'value':'',"pos":'none', "name":""}
            }
            let sz=Object.entries(lookup[az.value])
            for (i of sz){
                fields[i[0]].style.display=i[1]
            }
        }

        function add_text_item(az, type){
            let neu = document.createElement('template')
            neu.innerHTML=`<div class="list-group-item">
                    <div class="input-group">
                        <input type="text" name="${type}" class="form-control" required>
                        <button class="btn btn-outline-danger" onclick="remitem(this.parentElement.parentElement)"><i class="bi bi-x-lg"></i></button>
                    </div>
                </div>`
            az.parentElement.children[1].appendChild(neu.content)
        }
        function remitem(az){
            az.remove()
        }
        function sendabc(){
            document.getElementById('atype_abc').classList.remove('was-validated')
            let q = document.getElementById('q')
            if (q.value===null || q.value===undefined || q.value.trim() === ''){
                q.scrollIntoView({'block':'center'})
                q.value=''
                q.parentElement.classList.add('was-validated')
                return
            }
            let result=document.getElementById('result')
            let answer=[]
            let mock=[]
            for(i of document.getElementsByName('abc_answer')){
                if (i.value===null || i.value===undefined || i.value.trim() === ''){
                    i.scrollIntoView({'block':'center'})
                    i.value=''
                    document.getElementById('atype_abc').classList.add('was-validated')
                    return
                }
                answer.push(i.value.trim())
            }
            for(i of document.getElementsByName('abc_mock')){
                if (i.value===null || i.value===undefined || i.value.trim() === ''){
                    i.scrollIntoView({'block':'center'})
                    i.value=''
                    document.getElementById('atype_abc').classList.add('was-validated')
                    return
                }
                mock.push(i.value.trim())
            }
            if(answer.length===0 || mock.length===0){
                let neu=document.createElement('template')
                neu.innerHTML=`<div class="alert alert-danger alert-dismissible" role="alert">
                        <div>
                            Nie podano żadnych odpowiedzi ani fałszywych odpowiedzi!
                        </div>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>`
                document.getElementById('alertplace').appendChild(neu.content)
                return
            }
            result.value=JSON.stringify({
                'q':q.value.trim(),
                'category':document.getElementById('category').value.trim(),
                'atype':atype,
                'answer':answer,
                'mock':mock
            })
            result.parentElement.submit()
        }

        var command_count=0
        var arg_count=0
        function add_command(){
            let neu = document.createElement('template')
            neu.innerHTML=`<div class="card mb-3" name="command_answer">
                    <div class="card-header">
                        <div class="row">
                            <div class="col">
                                <label for="command_command${command_count}" class="form-label">Nazwa programu</label>
                                <input type="text" id="command_command${command_count}" name="command" class="form-control" placeholder="Komenda" required>
                            </div>
                            <div class="col">
                                <label for="command_type${command_count}" class="form-label">Typ komendy</label>
                                <select name="type" class="form-select" id="command_type${command_count}" onchange="switch_cmdtype(this)">
                                    <option value="posix" selected>POSIX</option>
                                    <option value="dd">dd</option>
                                </select>
                            </div>
                            <div class="col-auto">
                                <button onclick="remitem(this.parentElement.parentElement.parentElement.parentElement)" class="btn btn-danger align-middle"><i class="bi bi-trash3-fill"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="list-group list-group-flush" id="command_type_posix${command_count}">
                        <div>
                        </div>
                        <button onclick="add_posixarg(this)" class="list-group-item list-group-item-action list-group-item-primary">Dodaj Agrument</button>
                    </div>
                    <div class="card-body" id="command_type_dd${command_count}" style="display: none;">
                        <div class="row row-cols-md-3 row-cols-sm-2 row-cols-1 g-3">
                            <div class="col"><button onclick="add_ddarg(this)" class="btn btn-primary" style="width: 100%;">Dodaj Argument</button></div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-auto"><button class="btn btn-secondary" onclick="display(this)">Podgląd</button></div> 
                            <div class="col"><input type="text" class="form-control text-bg-dark font-monospace" readonly></div></div>
                    </div>
                </div>`
            document.getElementById('commandplace').appendChild(neu.content)
            command_count+=1
        }
        function add_posixarg(az) {
            let neu = document.createElement('template')
            neu.innerHTML=`<div class="list-group-item">
                    <div class="row mb-3 align-items-end justify-content-between">
                        <div class="col-sm-6 order-sm-last">
                            <button class="btn btn-secondary" onclick="moveDown(this.parentElement.parentElement.parentElement)" title="Przemieść w dół"><i class="bi bi-arrow-down"></i></button>
                            <button class="btn btn-primary" onclick="moveUp(this.parentElement.parentElement.parentElement)" title="Przemieść w górę"><i class="bi bi-arrow-up"></i></button>
                            <button class="btn btn-danger" onclick="remitem(this.parentElement.parentElement.parentElement)" title="Usuń"><i class="bi bi-x-lg"></i></button>
                        </div>
                        <div class="col-sm-6">
                            <label for="argtype${arg_count}" class="form-label">Typ argumentu</label>
                            <select name="argtype" id="argtype${arg_count}" class="form-select" onchange="switch_argtype(this)">
                                <option value="text" selected>Tekstowy</option>
                                <option value="option">Opcja</option>
                                <option value="param">Flaga z parametrem</option>
                            </select>
                        </div>
                    </div>
                    <div class="row" style="display: none;">
                        <div class="col-7">
                            <label for="arg_name${arg_count}">Długa nazwa</label>
                            <div class="input-group mb-3">
                                <div class="input-group-text font-monospace">--</div>
                                <input type="text" name="name" id="arg_name${arg_count}" class="form-control" required>
                            </div>
                        </div>
                        <div class="col-5">
                        <label for="arg_shname${arg_count}">Krótka nazwa</label>
                            <div class="row">
                                <div class="col-xl-3 col-9 col-sm-7">
                                    <div class="input-group">
                                        <div class="input-group-text font-monospace">-</div>
                                        <input type="text" name="shname" id="arg_shname${arg_count}" class="form-control" maxlength="1">
                                    </div>
                                </div>
                                <div class="col">
                                </div>
                            </div>
                            <div class="form-text">Pozostaw krótką nazwę pustą, jeśli jej nie ma.</div>
                        </div>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" name="value" id="arg_value${arg_count}" class="form-control" placeholder="Wartość" required>
                        <label for="arg_value${arg_count}">Wartość</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" name="ispos" id="arg_ispos${arg_count}">
                        <label for="arg_ispos${arg_count}" class="form-check-label">Wymagaj określonego położenia względem reszty argumentów tekstowych</label>
                    </div>
                </div>`
            az.parentElement.children[0].appendChild(neu.content)
            arg_count+=1
        }
        function add_ddarg(az){
            let neu = document.createElement('template')
            neu.innerHTML=`<div class="col position-relative">
                        <div class="input-group">
                            <input type="text" name="name" class="form-control text-end" required>
                            <div class="input-group-text">=</div>
                            <input type="text" name="value" class="form-control" required>
                        </div>
                        <button class="position-absolute top-0 start-10 translate-middle badge rounded-pill btn btn-danger" onclick="remitem(this.parentElement)"><i class="bi bi-x-lg"></i></button>
                    </div>`
            az.parentElement.parentElement.appendChild(neu.content)
            az.parentElement.nextElementSibling.insertAdjacentElement("afterend", az.parentElement)
        }

        function html2cmd(az){
            let cmd={}
            cmd['command']=az.querySelector("[name='command']").value.trim()
            if (cmd.command=== null || cmd.command==undefined || cmd.command.trim()===''){
                let temp =az.querySelector("[name='command']")
                temp.scrollIntoView({'block':'center'})
                temp.value=''
                az.classList.add('was-validated')
                return false
            }
            cmd['type']=az.querySelector("[name='type']").value
            if (cmd['type']=='posix'){
                cmd['args']=[]
                let args=az.querySelector("[id^='command_type_posix']").children[0]
                let textnum=0
                for(arg of args.children){
                    let ret={}
                    let argtype=arg.querySelector("[name='argtype']").value
                    ret['argtype']=argtype
                    if (['option', 'param'].includes(argtype)){
                        let name=arg.querySelector("[name='name']")
                        if (name.value===null || name.value===undefined || name.value.trim() === ''){
                            name.scrollIntoView({'block':'center'})
                            name.value=''
                            az.classList.add('was-validated')
                            return false
                        }
                        ret["name"]=name.value.trim()
                        let shname=arg.querySelector("[name='shname']").value
                        if(!(shname===null || shname===undefined || shname.trim() === '')){
                            ret['shname']=shname.trim()
                        }
                    }
                    if (['text', 'param'].includes(argtype)){
                        let value=arg.querySelector("[name='value']")
                        if (value.value===null || value.value===undefined || value.value.trim() === ''){
                            value.scrollIntoView({'block':'center'})
                            value.value=''
                            az.classList.add('was-validated')
                            return false
                        }
                        ret["value"]=value.value.trim()
                    }
                    if (argtype==='text'){
                        if (arg.querySelector("[name='ispos']").checked) ret["pos"]=textnum
                        textnum++
                    }
                    cmd.args.push(ret)
                }
            }
            else if (cmd['type']=='dd'){
                cmd['args']={}
                let args=az.querySelector("[id^='command_type_dd']").children[0]
                for(arg of args.children){
                    if(!arg.classList.contains('position-relative')) continue
                    let name=arg.querySelector("[name='name']")
                    if (name.value===null || name.value===undefined || name.value.trim() === ''){
                        name.scrollIntoView({'block':'center'})
                        name.value=''
                        az.classList.add('was-validated')
                        return false
                    }
                    let value=arg.querySelector("[name='value']")
                    if (value.value===null || value.value===undefined || value.value.trim() === ''){
                        value.scrollIntoView({'block':'center'})
                        value.value=''
                        az.classList.add('was-validated')
                        return false
                    }
                    cmd.args[name.value.trim()]=value.value.trim()
                }
            }
            az.classList.remove('was-validated')
            return cmd
        }
        function sendcommand(){
            let q = document.getElementById('q')
            if (q.value===null || q.value===undefined || q.value.trim() === ''){
                q.scrollIntoView({'block':'center'})
                q.value=''
                q.parentElement.classList.add('was-validated')
                return
            }
            let result=document.getElementById('result')
            let answer=[]
            for(i of document.getElementsByName('command_answer')){
                let cmd = html2cmd(i)
                if (cmd===false) return
                answer.push(cmd)
            }
            if(answer.length===0){
                let neu=document.createElement('template')
                neu.innerHTML=`<div class="alert alert-danger alert-dismissible" role="alert">
                        <div>
                            Nie podano żadnych odpowiedzi!
                        </div>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>`
                document.getElementById('alertplace').appendChild(neu.content)
                return
            }
            result.value=JSON.stringify({
                'q':q.value.trim(),
                'category':document.getElementById('category').value.trim(),
                'atype':atype,
                'answer':answer
            })
            if(!confirm('Napewno chcesz już dodać to zadanie do bazy? Pamiętaj, że po wysłaniu zadania, będzie można je w tej wersji Linux-Lingo edytować jedynie z poziomu bazy danych! (Choć kategorię i polecenie zadania można edytować z panelu administracyjnego w razie czego)')) return
            result.parentElement.submit()
        }

        function moveUp(element){
            let upperSibling = element.previousElementSibling
            if(upperSibling === null) return
            upperSibling.insertAdjacentElement("beforebegin", element)
        }
        function moveDown(element){
            let lowerSibling = element.nextElementSibling
            if(lowerSibling === null) return
            lowerSibling.insertAdjacentElement("afterend", element)
        }

        async function display(az){
            let curcmd=az.parentElement.parentElement.parentElement.parentElement
            let out=az.parentElement.nextElementSibling.children[0]
            let result = html2cmd(curcmd)
            if (result===false) return
            //alert(JSON.stringify(html2cmd(curcmd)))
            //return
            let ret=await fetch("{{url_for('api_cmd2str')}}", {
                method: "POST",
                body: `command=${encodeURIComponent(JSON.stringify(result))}`,
                headers: {
                    "Content-type": "application/x-www-form-urlencoded; charset=UTF-8"
                }
            }).then((response) => response.text());
            out.value=ret
        }
        function escapeHtml(str) {
            return String(str).replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/"/g, '&quot;')
        }
        var testcmdin
        var testcmdout
        async function testcmd(){
            if( testcmdin === undefined){
                testcmdin=document.getElementById("testcmdin")
                testcmdout=document.getElementById("testcmdout")
            }
            let ret=await fetch("{{url_for('api_posixparse')}}", {
                method: "POST",
                body: `command=${encodeURIComponent(testcmdin.value)}`,
                headers: {
                    "Content-type": "application/x-www-form-urlencoded; charset=UTF-8"
                }
            }).then((response) => response.json());

            let options='<ul>'
            for(i of ret['options']['short']){
                options+=`<li>Krótka nazwa: <code>${escapeHtml(i)}</code>, Długa nazwa <i>nieznana</i></li>`
            }
            for(i of ret['options']['long']){
                options+=`<li>Krótka nazwa <i>nieznana</i>, Długa nazwa: <code>${escapeHtml(i)}</code></li>`
            }
            options+='</ul>'

            let params="<ul>"
            for (i of ret['params']){
                params+=`<li>Krótka nazwa${i['shname']!==undefined?`: <code>${escapeHtml(i.shname)}</code>`:" <i>nieznana</i>"}, Długa nazwa${i['name']!==undefined?`: <code>${escapeHtml(i.name)}</code>`:" <i>nieznana</i>"}, Wartość: <code>${escapeHtml(i.value)}</code></li>`
            }
            params+='</ul>'

            let texts='<ol start="0">'
            for (i of ret['texts']){
                texts+=`<li><code>${escapeHtml(i)}</code></li>`
            }
            texts+='</ol>'

            let output=''
            if (ret.command=='sudo'){
                let subcmd=['', null, undefined].includes(ret.texts[0])?'komenda':ret.texts[0]
                output+='<h5 class="badge bg-primary">Notka</h5><p>Nie ma potrzeby uwzględniania <code>sudo</code> w schemacie odpowiedzi &ndash; <code>sudo '+subcmd+'</code> i <code>'+subcmd+'</code> są równoważnymi odpowiedziami dla parsera.'+
                    ' Jeśli jednak bardzo ci zależy, by wymusić na użytkownikach użycia <code>sudo</code> (nie zalecamy, nie ma po co), możesz zdefiniować <code>sudo</code> jako nazwę programu oraz <code>'+subcmd+
                    '</code> jako pierwszy argument komendy ustawiony na typ tekstowy i z wymaganiem określonego położenia.</p><hr>'
            }
            output+=`<h6>Potencjalne podpowiedzi dotyczące komendy:</h6><ul>
                <li><strong>Program</strong> &ndash; <code>${escapeHtml(ret['command'])}</code></li>
                <li><strong>Opcje</strong> (flagi bez parametru): ${options}</li>
                <li><strong>Flagi z parametrami</strong>: ${params}</li>
                <li><strong>Argumenty tekstowe</strong> (wraz z numeracją ich położenia): ${texts}</li>
                </ul>
                Pamiętaj, że część z punktów podanych powyżej wyklucza się nawzajem &ndash; np. <code>-p az</code> może być zinterpretowane albo jako opcja&nbsp;<code>p</code>&nbsp;+&nbsp;argument tekstowy <code>az</code>, albo jako flaga z parametrem. Skorzystaj z dokumentacji programu/komendy, by upewnić się jaka konfiguracja będzie odpowiednia`

            testcmdout.style.display=''
            testcmdout.innerHTML=output
        }
        var checkcmdin
        var checkcmdout
        async function checkcmd(){
            if( checkcmdin === undefined){
                checkcmdin=document.getElementById("checkcmdin")
                checkcmdout=document.getElementById("checkcmdout")
            }
            let answers=[]
            for(i of document.getElementsByName('command_answer')){
                let cmd = html2cmd(i)
                if (cmd===false) return
                answers.push(cmd)
            }
            let ret=await fetch("{{url_for('api_checkcmd')}}", {
                method: "POST",
                body: `command=${encodeURIComponent(checkcmdin.value)}&answers=${encodeURIComponent(JSON.stringify(answers))}`,
                headers: {
                    "Content-type": "application/x-www-form-urlencoded; charset=UTF-8"
                }
            }).then((response) => response.json());

            let neu=document.createElement('template')
            if(ret){
                neu.innerHTML=`<div class="alert alert-success alert-dismissible" role="alert">
                        <div>
                            Jest to poprawna odowiedź wg schematu
                        </div>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>`
            }
            else{
                neu.innerHTML=`<div class="alert alert-danger alert-dismissible" role="alert">
                        <div>
                            Jest to odpowiedź błędna. Jeśli miała to być poprawna odpowiedź, musisz jeszcze raz przeredagować swój schemat by poszukać w nim niedopatrzeń
                        </div>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>`
            }
            checkcmdout.prepend(neu.content)
        }
    </script>
    <h1>Utwórz zadanie</h1>
    <div id="alertplace">
        <noscript>
            <div class="alert alert-warning">Żeby korzystać z tej strony, potrzebny jest JavaScript</div>
        </noscript>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert {{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
    <div class="form-floating mb-3">
        <input type="text" id="q" class="form-control" placeholder="Polecenie" required>
        <label for="q">Polecenie</label>
        <div class="form-text">Można używać znaczników HTML.</div>
    </div>
    <div class="row">
        <div class="col-sm order-sm-last">
            <label for="category" class="form-label">Kategoria</label>
            <select class="form-select mb-3" id="category">
                {% for cat in categories %}
                <option value="{{cat['name']}}">{{cat['display']}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-sm">
            <label for="atype" class="form-label">Typ zadania</label>
            <select class="form-select mb-3" onchange="switch_atype()" id="atype" required>
                <option value="" selected disabled>Wybierz typ zadania</option>
                <option value="command">Komenda</option>
                <option value="abc">pytanie ABC</option>
            </select>
        </div>
    </div>
    <div id="atype_command" style="display: none;">
        <label for="testcmdin" class="form-label">Wpisz tutaj komendę, by rozłożyć ją na czynnyki pierwsze</label>
        <form method="dialog" class="input-group mb-3">
            <span class="input-group-text text-bg-dark border-dark font-monospace">$</span>
            <input type="text" id="testcmdin" class="form-control text-bg-dark font-monospace border-dark" autocomplete="off">
            <button class="btn btn-dark" onclick="testcmd()">Przeparsuj</button>
        </form>
        <div class="alert alert-info" id="testcmdout" style="display: none;"></div>
        <h3>Odpowiedzi</h3>
        <div id="commandplace">
        </div>
        <div class="d-grid mb-3"><button class="btn btn-primary" onclick="add_command()">Dodaj Odpowiedź</button></div>
        <label for="checkcmdin" class="form-label">Przetestuj, czy schematy powyżej działają prawidłowo</label>
        <form method="dialog" class="input-group mb-3">
            <span class="input-group-text text-bg-dark border-dark font-monospace">$</span>
            <input type="text" id="checkcmdin" class="form-control text-bg-dark font-monospace border-dark" autocomplete="off">
            <button class="btn btn-dark" onclick="checkcmd()">Przetestuj</button>
        </form>
        <div id="checkcmdout"></div>
        <div class="d-grid mb-3"><button class="btn btn-success" onclick="sendcommand()">Dodaj zadanie</button></div>
    </div>
    <div id="atype_abc" style="display: none;">
        <div class="list-group mb-3">
            <div class="list-group-item list-group-item-secondary"><h5>Odpowiedzi</h5></div>
            <div>
                <div class="list-group-item">
                    <div class="input-group">
                        <input type="text" name="abc_answer" class="form-control" required>
                        <button class="btn btn-outline-danger" onclick="remitem(this.parentElement.parentElement)"><i class="bi bi-x-lg"></i></button>
                    </div>
                </div>
            </div>
            <button onclick="add_text_item(this, 'abc_answer')" class="list-group-item list-group-item-action list-group-item-primary">Dodaj Odpowiedź</button>
        </div>
        <div class="list-group mb-3">
            <div class="list-group-item list-group-item-secondary"><h5>Fałszywe Odpowiedzi</h5></div>
            <div>
                <div class="list-group-item">
                    <div class="input-group">
                        <input type="text" name="abc_mock" class="form-control" required>
                        <button class="btn btn-outline-danger" onclick="remitem(this.parentElement.parentElement)"><i class="bi bi-x-lg"></i></button>
                    </div>
                </div>
            </div>
            <button onclick="add_text_item(this, 'abc_mock')" class="list-group-item list-group-item-action list-group-item-primary">Dodaj Odpowiedź</button>
        </div>
        <button onclick="sendabc()" class="btn btn-success">Dodaj zadanie</button>
    </div>
        
    <form action="{{url_for('admin_addcmd')}}" method="post">
        <input type="hidden" id="result" name="result">
    </form>
{% endblock main %}