{% extends "master.html" %}

{% block title %}404{% endblock title %}

{% block main %}
    <h1 class="display-1 text-danger text-center" style="font-size: 10em;">404</h1>
    <h3 class="text-center">Nie ma strony pod tym linkiem</h3>

    <figure class="text-center fixed-bottom">
        <blockquote class="blockquote">
            <p>Chyba pomyliłeś odwagę z odważnikiem, Panie Kolego!</p>
        </blockquote>
        <figcaption class="blockquote-footer">
            Homo Magnus
        </figcaption>
    </figure>
{% endblock main %}