{% extends "master.html" %}

{% block title %}Quiz z Obsługi Linuxa{% endblock title %} 

{% block main %}
    <h1>Quiz z Obsługi Linuxa</h1>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
    <div class="alert {{ category }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% endwith %}

    <div class="row">
        <form action="{{url_for('startquiz')}}" method="post" class="col-md p-2 border rounded">
            <button type="submit" class="btn btn-xlg btn-primary"{% if not enable %} disabled{% endif %}>Rozpocznij Quiz!</button>
            <div class="mb-3">
                <label for="task_num" class="form-label">Ilość Zadań</label>
                <input type="number" class="form-control" id="task_num" name="task_num" min="1" max="{{count}}" value="{{16 if count>=16 else count}}">
            </div>
            <div class="form-label">Typy zadań:</div>
            <div class="form-check">
                <input type="checkbox" name="filters" id="chkCommand" value="command" class="form-check-input">
                <label for="chkCommand" class="form-check-label">Komendy</label>
            </div>
            <div class="form-check">
                <input type="checkbox" name="filters" id="chkAbc" value="abc" class="form-check-input">
                <label for="chkAbc" class="form-check-label">Pytania ABC</label>
            </div>
        </form>
    </div>
{% endblock main %}