{% extends "master.html" %}

{% block title %}Quiz z Obsługi Linuxa{% endblock title %} 

{% block main %}
    <h1 class="text-center">Quiz z Obsługi Linuxa</h1>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
    <div class="alert {{ category }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% endwith %}

    <noscript>
        <div class="alert alert-warning">Aby móc przejść do rozwiązywania quizów, konieczne jest włączenie funkcji uruchamiania JavaScript w przeglądarce</div>
    </noscript>

    <div class="d-flex flex-column justify-content-center align-items-center">
        <form action="{{url_for('startquiz')}}" method="post" class="container p-3 border rounded" style="max-width: 30em;">
            <button type="submit" id="btnStart" class="btn btn-xlg btn-primary" disabled>Rozpocznij Quiz!</button>
            <div class="mb-3">
                <label for="task_num" class="form-label">Ilość Zadań</label>
                <input type="number" class="form-control" id="task_num" name="task_num" min="1" max="{{count}}" value="{{16 if count>=16 else count}}">
            </div>
            <div class="form-label">Typy zadań:</div>
            <div class="form-check">
                <input type="checkbox" name="filters" id="chkcmdCommand" value="command" class="form-check-input">
                <label for="chkcmdCommand" class="form-check-label">Komendy</label>
            </div>
            <div class="form-check">
                <input type="checkbox" name="filters" id="chkcmdAbc" value="abc" class="form-check-input">
                <label for="chkcmdAbc" class="form-check-label">Pytania ABC</label>
            </div>
            {% if (categories|length)>0 %}
            <div class="form-label mt-3">Kategorie:</div>
            {% for cat in categories %}
                <div class="form-check">
                    <input type="checkbox" name="categories" id="chkcat{{cat['name']}}" value="{{cat['name']}}" class="form-check-input" checked>
                    <label for="chkcat{{cat['name']}}" class="form-check-label">{{cat['display']}}</label>
                </div>
            {% endfor %}
            {% endif %}
            
        </form>
        {% if enable %}
        <script>
            document.getElementById('btnStart').disabled=false
        </script>
        {% endif %}
        
    </div>
{% endblock main %}