{% extends "master.html" %}

{% block title %}Zasoby{% endblock title %} 

{% block main %}

<!-- <h1 class="alert alert-warning">TODO: zrób tą stronkę</h1> -->

<h1>Zasoby</h1>
<p>Oto kilka dobrych źródeł, z których możecie czerpać przydatne informacje o Linuxie:</p>
<ul>
    <li><a href="https://wiki.archlinux.org/">Arch Wiki</a></li>
    <li><a href="https://wiki.gentoo.org">Gentoo Wiki</a></li>
    <li><a href="https://www.fsf.org/">Strona <abbr title="Free Software Foundation" class="initialism">FSF</abbr> Richarda Stallmana</a></li>
    <li>
        Kanały na Youtube:
        <ul>
            <li><a href="https://www.youtube.com/@BrodieRobertson">Brodie Robertson</a></li>
            <li><a href="https://www.youtube.com/@MentalOutlaw">Mental Outlaw</a></li>
            <li><a href="https://www.youtube.com/@ChrisTitusTech">Chris Titus Tech</a></li>
        </ul>
    </li>
    <li><a href="https://askubuntu.com/">ask Ubuntu</a></li>
    <li>Komenda <a href="https://en.wikipedia.org/wiki/Man_page"><code>man</code></a></li>
</ul>
{% endblock main %}