{% extends "master.html" %}

{% block title %}Poznaj Linuxa{% endblock title %}

{% block main %}
    <div class="row">
        <div class="col">
            <div class="card" style="height: 100%;">
                <div class="card-body">
                    <h5 class="card-title text-center">Komendy</h5>
                    <p class="card-text">Informacje o komendach, jak ich używać, co one robią</p>
                    <a href="url_for('wiki_commands')" class="btn">Zobacz</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card opacity-50" style="height: 100%;">
                <div class="card-body">
                    <h5 class="card-title text-center">Dystrybucje</h5>
                    <p class="card-text">Informacje o dystrybucjach, czym się różnią, wady i zalety</p>
                    <h6 class="card-subtitle">Comming Soon</h6>
                    <a class="btn">Zobacz</a>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}