{% extends "master.html" %}

{% block title %}Poznaj Linuxa{% endblock title %}

{% block main %}
    <div class="alert alert-info">Sekcja edukacyjna niedostępna. Po informacje o komendach i Linuxie zobacz <a href="{{url_for('resources')}}">Zasoby</a></div>
    <div class="row">
        <div class="col">
            <div class="card opacity-50" style="height: 100%;">
                <div class="card-body">
                    <h5 class="card-title text-center">Komendy</h5>
                    <p class="card-text">Informacje o komendach, jak ich używać, co one robią</p>
                    <a class="btn btn-primary">Zobacz</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card opacity-50" style="height: 100%;">
                <div class="card-body">
                    <h5 class="card-title text-center">Dystrybucje</h5>
                    <p class="card-text">Informacje o dystrybucjach, czym się różnią, wady i zalety</p>
                    <a class="btn btn-primary">Zobacz</a>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}